nav .nav-chevron-down-icon {
  color: var(--bs-gray-dark);
}
nav .navbar-brand {
  font-size: 24px;
}
nav .nav-icon svg {
  color: var(--bs-gray-dark);
}
nav .navbar-toggler {
  border: none !important;
}
nav .navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
nav .nav-link.dropdown-toggle::after {
  display: none;
}

.hero__section {
  background: linear-gradient(90deg, rgba(203, 201, 233, 0.6) 0%, rgba(227, 232, 251, 0.6) 50%, rgba(255, 224, 244, 0.6) 100%);
}
.hero__section .hero__section--main {
  margin: 0px 33px 0px 33px;
  padding: 48px 16px 48px 16px;
}
.hero__section .hero__section--main .hero__section--main--cards {
  margin: -24px -12px 24px;
}
.hero__section .hero__section--main .hero__section--main--cards .card {
  border: none;
}
@media (max-width: 768px) {
  .hero__section .hero__section--main .hero__section--main--cards {
    margin: 0px;
    padding: 0px;
  }
}
.hero__section .hero__section--main .hero__section--main--title {
  padding: 8px 12px 0px;
}
.hero__section .hero__section--main .hero__section--main--title h1 {
  margin: 0px 0px 24px;
  font-size: 64px;
  color: #181D25;
}
@media (max-width: 768px) {
  .hero__section .hero__section--main .hero__section--main--title h1 {
    font-size: 7vw;
  }
}
.hero__section .hero__section--main .hero__section--main--title p {
  font-size: 18px;
  color: #585F6B;
}
@media (max-width: 768px) {
  .hero__section .hero__section--main .hero__section--main--title p {
    font-size: 3.3vw;
  }
}
@media (max-width: 768px) {
  .hero__section .hero__section--main .hero__section--main--title {
    margin: 0px;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .hero__section .hero__section--main .hero__section--main--bottom--images img {
    margin: 0px;
    padding: 0px;
    margin-left: -10px;
    margin-top: 5px;
  }
}
.hero__section .hero__section--main .hero__section--main--bottom-text {
  padding: 0px 0px 24px;
}
.hero__section .hero__section--main .hero__section--main--bottom-text .hero__section--main--bottom--images figure img {
  width: 20px;
  height: 20px;
}
.hero__section .card-text {
  font-size: 1rem;
}
@media (max-width: 2000px) {
  .hero__section .card-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 991px) {
  .hero__section .card-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .hero__section .card-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 576px) {
  .hero__section .card-text {
    font-size: 0.75rem;
  }
}

.latest__products {
  margin: 16px 56px;
  padding: 48px 16px;
  font-family: "Inter", "sans-serif";
}
.latest__products--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.latest__products--header h1 {
  font-size: 32px;
  font-weight: 600;
  font-size: clamp(23.8px, 4vw, 28px);
}
.latest__products--header .carousel-controls {
  display: flex;
  gap: 10px;
}
.latest__products--header .carousel-controls .carousel-control-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #E4E7ED;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}
.latest__products--header .carousel-controls .carousel-control-btn:hover {
  border-color: #6C727F;
}
.latest__products--header .carousel-controls .carousel-control-btn .carousel-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease;
}
.carousel-control-btn:hover .latest__products--header .carousel-controls .carousel-control-btn {
  transform: translateX(-4px);
}
.carousel-control-btn:hover .latest__products--header .carousel-controls {
  transform: translateX(4px);
}
.latest__products .card {
  box-sizing: border-box;
}
.latest__products .card .flex-column .card-title {
  font-size: 20px;
  color: #181D25;
}
@media (max-width: 600px) {
  .latest__products .card .flex-column .card-title {
    font-size: 3vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
  }
}
.latest__products .card .flex-column .card-text {
  font-size: 12px;
  color: #4E5562;
}
.latest__products .card .flex-column .card-text span {
  margin: 3px;
}

.explore__design__resources {
  font-family: "Inter", "sans-serif";
}
.explore__design__resources .latest__products--header .explore__design__resources--categories .categories--item {
  border: 1px solid #E0E5EB;
  padding: 8px 20px;
  color: #35404F;
}
.explore__design__resources .card {
  font-family: "Inter", "sans-serif";
}
.explore__design__resources .card .card-body {
  padding: 0px;
  overflow: hidden;
}
.explore__design__resources .card .card-body .card-img-top {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.explore__design__resources .card .card-body .card-title {
  padding: 0px;
}
.explore__design__resources .card .card-body .card-title img {
  width: 20px;
  height: 20px;
}
.explore__design__resources .card .card-body .card-title h5 {
  font-size: 14px;
}
@media (max-width: 600px) {
  .explore__design__resources .card .card-body .card-title h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 150px;
  }
}
.explore__design__resources .card .card-body .card-title p {
  font-size: 12px;
  text-wrap: nowrap;
  padding: 0px;
  margin: 0px;
}
.explore__design__resources .card .card-body .card-title .cards-bottom-text .card-text p:first-child {
  margin-left: 20px;
}
@media (max-width: 576px) {
  .explore__design__resources .card .card-title h5 {
    max-width: 150px;
  }
  .explore__design__resources .card .card-title {
    padding: 20px 20px;
  }
}/*# sourceMappingURL=main.css.map */