.latest__products {
  margin: 16px 56px;
  padding: 48px 16px;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 32px;
      font-weight: 600;
    }

    .carousel-controls {
      display: flex;
      gap: 10px;

      .carousel-control-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #E4E7ED;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.3s ease;


        &:hover {
          border-color: #6C727F;



        }

        .carousel-icon {
          display: block;
          width: 20px;
          height: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          transition: transform 0.3s ease;
        }




        .carousel-control-btn:hover & {
          transform: translateX(-4px);
        }
      }




      .carousel-control-btn:hover & {
        transform: translateX(4px);
      }
    }
  }
}