.latest__products {
  margin: 16px 56px;
  padding: 48px 16px;
  font-family: $fontfamily;

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 32px;
      font-weight: 600;
      font-size: clamp(23.8px, 4vw, 28px);
    }

    .carousel-controls {
      display: flex;
      gap: 10px;

      .carousel-control-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #E4E7ED;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: border-color 0.3s ease;


        &:hover {
          border-color: #6C727F;



        }

        .carousel-icon {
          display: block;
          width: 20px;
          height: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          transition: transform 0.3s ease;
        }




        .carousel-control-btn:hover & {
          transform: translateX(-4px);
        }
      }

      .carousel-control-btn:hover & {
        transform: translateX(4px);
      }
    }
  }

  .card {
    box-sizing: border-box;

    .flex-column {
      // display: inline-block; 

      .card-title {
        font-size: 20px;
        color: #181D25;


        @media (max-width: 600px) {
          // font-size: 16px;
          // overflow: hidden;
          // text-overflow: ellipsis;
          // white-space: nowrap;
          font-size: 3vw;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 300px;
          // display: inline-block; 
        }

      }
      .card-text {
        font-size: 12px;
        color: #4E5562;

        // display: inline-block; 
        span {
          margin: 3px;
        }
      }
    }
  }
}
.explore__design__resources {
  // margin: 16px 56px;
  // padding: 48px 16px;
  font-family: $fontfamily;

  .latest__products--header {
    .explore__design__resources--categories {
      .categories--item {
        border: 1px solid #E0E5EB;
        padding: 8px 20px;
        color: #35404F;
      }
    }
  }
  .card {
    font-family: $fontfamily;
    .card-body {
      padding: 0px;
      .card-title {
        padding: 0px;
        img {
          width: 20px;
          height: 20px;
        }
        h5 {
          font-size: 14px;
           @media (max-width: 600px) {
          //   font-size: 2.5vw;
             overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
             width: 150px;
           }
        }

        p {
          font-size: 12px;
          text-wrap: nowrap;
          padding: 0px;
          margin: 0px;

          // @media (max-width: 600px) {
          //   margin: 0px;
          //   padding: 0px;
          // }
        }
        
.cards-bottom-text{
  .card-text{
    
  p:first-child{
    margin-left: 20px;
  }
     
  }

}
      }
    }
  }
}