.hero__section {
    background: linear-gradient(90deg, rgba(203, 201, 233, .6) 0%, rgba(227, 232, 251, .6) 50%, rgba(255, 224, 244, .6) 100%);  

    .hero__section--main {
        margin: 0px 33px 0px 33px;
     
        .hero__section--main--title {
            padding: 8px 12px 0px;
            $fontfamily: 'Inter', 'sans-serif';
          h1{
            margin: 0px 0px 24px;
            font-size: 64px;            
            color: #181D25;
          
          }
          p {
            font-size: 18px;
            color: #585F6B;
        }
         
        }
     .hero__section--main--bottom-text{
        .hero__section--main--bottom--images{
           figure{
            img{
                width: 20px;
                height: 20px;
            }
        
           }
        }
     }
    }
    .card-text {
        font-size: 1rem;
        @media (max-width: 2000px){
            font-size: 0.8rem;
        }
        @media (max-width: 991px) {
          font-size: 0.9rem;
        }
      
        @media (max-width: 768px) {
          font-size: 0.9rem;
        }
      
        @media (max-width: 576px) {
          font-size: 0.75rem;
        }
      }
      
}