nav {

    .nav-chevron-down-icon {
        color: var(--bs-gray-dark);
    }

    .navbar-brand {
        .custom-logo {
            
        }
        font-size: 24px;

    }

    .nav-icon {
        svg {
            color: var(--bs-gray-dark);
        }
    }

    .navbar-toggler {
        border: none !important;
    }

    .navbar-toggler:focus {
        outline: none !important;
        box-shadow: none !important;
    }

    .nav-link.dropdown-toggle::after {
        display: none;
    }
}