.hero__section {
    background: linear-gradient(90deg, rgba(203, 201, 233, .6) 0%, rgba(227, 232, 251, .6) 50%, rgba(255, 224, 244, .6) 100%);

    nav {

        .nav-chevron-down-icon {
            color: var(--bs-gray-dark);
        }

        .navbar-brand {
            .custom-logo {}

        }

        .nav-icon {
            svg {
                color: var(--bs-gray-dark);
            }
        }

        .navbar-toggler {
            border: none !important;
        }

        .navbar-toggler:focus {
            outline: none !important;
            box-shadow: none !important;
        }

        .nav-link.dropdown-toggle::after {
            display: none;
        }
    }

    .hero__section--main {
        margin: 0px 33.4844px 0px 33.4688px;

        .hero__section--main--title {
            padding: 0px 12px;
            h1 {
                margin: 0px 0px 24px;
                font-size: 64px;
                font-family: $fontfamily;
                color: #181D25;
            }

            p {
                font-size: 18px;
                color: #585F6B;
            }
        }
    }
}